$yellow-light: rgb(255 251 235);
$yellow: rgb(254 243 199);
$orange: rgb(202 138 4);

$bg-main: rgb(255 251 235);
$bg-accent: white;
$bg-accent-hov: rgb(255, 252, 242);

$text: black;
$text-light: rgb(75 85 99);

$btnBg: white;
$btnHover: $yellow-light;
$btnPressed: rgb(235, 229, 207);

$focus: rgb(59, 131, 246);
