@use "./design-tokens.scss" as dt;

// Typography helpers //

.typography-h1 {
}

// Shared base component styles //


button {
  all: unset;

  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background-color: dt.$btnBg;

  &:hover {
    transition: 300ms ease-out;
    background-color: dt.$btnHover;
  }
  &:active {
    transition: 0ms;
    background-color: dt.$btnPressed;
  }
  &:focus-visible {
    outline-width: 0px;
    border: 1px solid dt.$focus;
  }
}
