$bg-main: rgb(255 251 235);
$bg-accent: white;
$bg-accent-hov: rgb(255, 252, 242);

$border: black;
$border-accent: rgb(75 85 99);

$text: black;
$text-light: rgb(75 85 99);

$icons-primary: $text;

$bg-btn-primary: black;
$con-btn-primary: white;

$focus: rgb(59, 131, 246);
