@use "../shared/style/design-tokens.scss" as dt;

:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0px;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  & > * {
    width: 100%;
    max-width: 640px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 24px 0px;
  & img {
    width: 235px;
  }
  & .title__wrapper {
    width: 290px;
    flex-shrink: 0;
  }
}

.searchForm {
  margin: 12px;
  display: flex;
}

.search__input {
  all: unset;

  height: 32px;
  padding: 0px 8px;
  border: 2px solid dt.$text;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-grow: 1;
  background-color: white;
  transition: box-shadow 300ms ease-out;
  &:focus {
    box-shadow: inset dt.$text-light 0px 0px 0px 1px;
  }
}

.search__button {
  all: unset;

  cursor: pointer;
  border: 2px solid dt.$text;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 32px;
  padding: 0px 8px;
  background-color: dt.$text;
  color: white;
  transition: box-shadow 300ms ease-out;
  &:active {
    box-shadow: inset dt.$text-light 1px 1px 1px 0px;
  }
}

.resultArea {
  padding: 18px;
  border: 2px solid dt.$text;
  border-radius: 8px;
  flex-grow: 1;
  background-color: white;
}

.info__card {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.resultList__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
